.carousel-container {
  /*Base style and variable, do not remove*/
  --items-per-view: 3;
  position: relative;
  overflow-x: hidden;
  overflow-y: clip;
}

.carousel-item {
  /*Base style and variable, do not remove*/
  --distance-to-active: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  --width: calc(100% / var(--items-per-view));
  width: var(--width);
}
